<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <% home_page = (current_site.the_post(current_theme.get_field("home_page")) || current_site.the_posts("page").first).decorate %>
                <h1><%= home_page.the_title %></h1>
                <div><%= raw home_page.the_content %></div>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Name</h2>
                <h4>job title</h4>
                <br/><br/>
                <div class="col-lg-12"</div>
                Some description about yourself....Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
                </div>
              <div class="col-lg-6 top-buffer">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width: 50%;">Name</th>
                      <td>Your Name</td>
                    </tr>
                    <tr>
                      <th style="width: 50%;">Date of birth</th>
                      <td>Your DOB</td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <div class="col-lg-6 top-buffer">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width: 50%;">Email</th>
                      <td>Your Email</td>
                    </tr>
                    <tr>
                      <th style="width: 50%;">Phone</th>
                      <td>Your Phone</td>
                    </tr>
                  </tbody>
                </table> 
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
              col1
            </div>
            <div class="col-lg-7">
              col2
            </div>
        </div>
    </div> <!-- /container -->
</div><!-- /ww -->

<!-- +++++ Projects Section +++++ -->
