<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <% home_page = (current_site.the_post(current_theme.get_field("home_page")) || current_site.the_posts("page").first).decorate %>
                <h1><%= home_page.the_title %></h1>
                <div><%= raw home_page.the_content %></div>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
        <div class="row">
            <hr/>
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Name</h2>
                <h4>job title</h4>
                <br/><br/>
                <div class="col-lg-12"</div>
                Some description about yourself....Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
                </div>
              <div class="col-lg-6 top-buffer">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width: 50%;">Name</th>
                      <td>Your Name</td>
                    </tr>
                    <tr>
                      <th style="width: 50%;">Date of birth</th>
                      <td>Your DOB</td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <div class="col-lg-6 top-buffer">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width: 50%;">Email</th>
                      <td>Your Email</td>
                    </tr>
                    <tr>
                      <th style="width: 50%;">Phone</th>
                      <td>Your Phone</td>
                    </tr>
                  </tbody>
                </table> 
              </div>
            </div>
        </div>
        <hr/>
      
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Professional Skills</h2>
                <br/><br/>
                <div class="col-lg-12"</div>
                <ul class="list-group">
                  <li class="list-group-item">item1</li>
                  <li class="list-group-item">item2</li>
                  <li class="list-group-item">item3</li>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Work experience</h2>
                <br/><br/>
<ul class="timeline">
            <li class="timeline-item">
              <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Item1</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Jan 2011 - Jan 2012:w
</small></p>
                </div>
                <div class="timeline-body">
                  <p>item1 content</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Item1</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Jan 2011 - Jan 2012:w
</small></p>
                </div>
                <div class="timeline-body">
                  <p>item1 content</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Item1</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Jan 2011 - Jan 2012:w
</small></p>
                </div>
                <div class="timeline-body">
                  <p>item1 content</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Item1</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Jan 2011 - Jan 2012:w
</small></p>
                </div>
                <div class="timeline-body">
                  <p>item1 content</p>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Item1</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Jan 2011 - Jan 2012:w
</small></p>
                </div>
                <div class="timeline-body">
                  <p>item1 content</p>
                </div>
              </div>
            </li>
          </ul>
         </div>
        </div>
    </div> <!-- /container -->
</div><!-- /ww -->

<!-- +++++ Projects Section +++++ -->
